/* Styles de base */
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background: url('../images/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-vector.jpg') no-repeat center center/cover;
    color: rgb(255, 255, 255);
}
s
header h1, header p {
    animation: fadeInDown 1s ease-in-out;
    
}

#profil, #competences, #projets, #formation {
    margin-bottom: 50px;
}

/* Footer Icons */
footer a {
    color: white;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #0d6efd;
}

/* Icônes des réseaux sociaux */
.text-center a {
    transition: transform 0.3s ease-in-out;
}

.text-center a:hover {
    transform: scale(1.2);
}
.text-dark {
    --bs-text-opacity: 1;
    color: #a1a1a1 !important;
}
.text-white {
    --bs-text-opacity: 1;
    color: #ffffff !important;
}
.btn {
    color: #000000;

}

#competences h4 {
    margin-top: 30px;
    color: #0d6efd; /* Un bleu pour faire ressortir les titres */
}

.list-group-item {
    background-color: #f8f9fa; /* Légèrement gris pour différencier les éléments */
    border: none;
    padding: 10px 15px;
}
