/* Styles de base */
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background: url('../images/binary-2904980_1920.jpg') no-repeat center center/cover;
    color: rgb(255, 255, 255);
}
s
header h1, header p {
    animation: fadeInDown 1s ease-in-out;
    
}

#profil, #competences, #projets, #formation {
    margin-bottom: 50px;
}

/* Footer Icons */
footer a {
    color: white;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #0d6efd;
}

/* Icônes des réseaux sociaux */
.text-center a {
    transition: transform 0.3s ease-in-out;
}

.text-center a:hover {
    transform: scale(1.2);
}